body {
	width: 100%;	
	height: 100%;	
	margin: 0;
	padding: 0;	
	background-color: lightblue;
	font-size: 18px;
}

canvas {
/*	border: 1px solid blue;*/
	margin: auto;
	display: block;
}

span {
	font-size: 25px;
	margin-right: 3px;
}

button#try-again {
	visibility: hidden;
	font-size: 20px;
	white-space: pre;
}