body {
	width: 100%;	
	height: 100%;	
	margin: 0;
	padding: 0;	
}

canvas {
/*	border: 1px solid blue;*/
	margin: auto;
	display: block;
}

span {
	font-size: 30px;
	margin-right: 10px;
}

button#try-again {
	visibility: hidden;
}