body {
	width: 100%;	
	height: 100%;	
	margin: 0;
	padding: 0;	
	/*color: blue;*/
	font-weight: 900;
	/*background-color: lightblue;*/
	background-image: url('../images/background.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	font-size: 18px;
}

canvas {
	border: 1px solid blue;
	margin: auto;
	display: block;
}

span {
	font-size: 25px;
	margin-right: 3px;
}

button#try-again {
	visibility: hidden;
	font-size: 20px;
	white-space: pre;
}

.well {
	opacity: 0.95;
}

h1#heading-text {
	color: red;
	font-weight: 900;
	text-shadow: 5px 5px 5px rgba(255,255,255,1);

}

#hangman, #data {
	box-shadow: 3px 3px 5px rgba(0,0,0,0.6);
}

.letter-row, #keyboard {
	display: flex;
	flex-wrap: wrap;
	margin-bottom: 10px;
	align-content: center;
	justify-content: center;
}
