body {
	width: 100%;	
	height: 100%;	
	margin: 0;
	padding: 0;	
	font-weight: 900;
	background-color: lightblue;
	background-image: url('../images/background.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	font-size: 18px;
}


canvas {
	margin: auto;
	display: block;
}

span {
	font-size: 25px;
	margin-right: 3px;
}

.well {
	opacity: 0.95;
}

h1#heading-text {
	color: red;
	font-weight: 900;
	text-shadow: 5px 5px 5px rgba(255,255,255,1);
}

#hangman, #data {
	box-shadow: 3px 3px 5px rgba(0,0,0,0.6);
}



/*media queries and styling for making the responsive keyboard*/

.letter-row, #keyboard {
	display: flex;
	flex-wrap: wrap;
	margin-bottom: 10px;
	align-content: center;
	justify-content: center;
}

@media (max-width: 992px) {
	.letter {
		padding: 5px 20px;
	}
}

@media (max-width: 640px) {
	.letter {
		padding: 5px 15px;
	}
}

@media (max-width: 540px) {
	.letter {
		padding: 5px 10px;
	}
}

@media (max-width: 440px) {
	.letter {
		padding: 5px 5px;
	}
}

@media (max-width: 340px) {
	.letter {
		padding: 5px 3px;
	}
}








